<div class="container">
    <div [ngSwitch] = "color">
        <div *ngSwitchCase = "'red'" style="color: red">Cybersoft</div>
        <div *ngSwitchCase = "'blue'" style="color: green">Cybersoft</div>
        <div *ngSwitchCase = "'green'" style="color: blue">Cybersoft</div>
    </div>

    <select #t (change)="ChangeColor(t.value)">
        <option value="red" style="color: red">Red</option>
        <option value="red" style="color: green">Green</option>
        <option value="red" style="color: blue">Blue</option>
    </select>
</div>